apiVersion: trainer.kubeflow.org/v1alpha1
kind: ClusterTrainingRuntime
metadata:
  name: training-hub-th05-cuda128-torch29-py312
  labels:
    trainer.kubeflow.org/framework: training-hub
spec:
  mlPolicy:
    numNodes: 1
    torch:
      numProcPerNode: auto
  template:
    spec:
      replicatedJobs:
        - name: node
          template:
            metadata:
              labels:
                trainer.kubeflow.org/trainjob-ancestor-step: trainer
            spec:
              template:
                spec:
                  containers:
                    - name: node
                      image: quay.io/opendatahub/odh-training-cuda128-torch29-py312@sha256:8e34bce95ad21258bdb337d72dc1565ea8f949a101c979076f7e65f335baea2d
